<div class="container text-center">
  <h1>Mínimos Cuadrados Lineales</h1>
  <div class="row">
    <div class="col">
      <p class="exp">A continuacion ve agregando uno por uno los puntos conocidos (x, y): </p>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">𝑥</span>
        <input type="number" class="form-control" id="x" [(ngModel)]="xactual" required>
        <span class="input-group-text" id="basic-addon3">𝑦</span>
        <input type="number" class="form-control" id="y" [(ngModel)]="yactual" required>
        <button class="btn btn-outline-success" type="button" id="agregar" (click)="addP()">Agregar</button>
        <button class="btn btn-danger" type="button" id="reiniciar" (click)="reiniciar()">Reiniciar</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-6 col-12 graph">
      <canvas baseChart
      [data]="lineChartData"
      [type]="'bubble'"></canvas>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
      <p class="exp">Por lo tanto,la recta de mejor ajuste es: </p>
      <h2 class="rec">𝑦={{m | number}}𝑥+{{b | number}}</h2> <br>
      <p class="exp">Con <b>𝑚={{m | number}}</b> y <b>𝑏={{b | number}}</b></p>
      <div class="infc">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">𝑥</th>
              <th scope="col">𝑦</th>
              <!--th scope="col">𝑥⋅𝑦</th>
              <th scope="col">𝑥²</th-->
              <th scope="col">𝑦 estimada</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let xs of x; index as i;">
              <td>{{xs | number}}</td>
              <td>{{y[i] | number}}</td>
              <!--td>{{xy[i] | number}}</td>
              <td>{{x2[i] | number}}</td-->
              <td>{{yest[i] | number}}</td>
              <td>
                <button class="btn btn-outline-warning" type="button" id="quitar" (click)="popP(i)">Quitar</button>
              </td>
            </tr>
            <tr>
              <td>{{xsum | number}}</td>
              <td>{{ysum | number}}</td>
              <!--td>{{xysum | number}}</td>
              <td>{{x2sum | number}}</td-->
              <td></td>
              <td scope="row">Total</td>
            </tr>
          </tbody>      
        </table>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
